<div class="container text-center my-3">
  <h4>My Upcoming Bookings</h4>
  <% @bookings.each do |booking| %>
    <div class="card-skill">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path booking.skill.category.image %>')">
        <%= booking.skill.category.title %>
      </div>
      <div class="card-skill-infos">
        <div class="col">
          <h2><%=booking.skill.title %></h2>
          <p><%= booking.address %></p>
          <p><%= booking.start_time.strftime("%I:%M:%S %p") %></p>
        </div>
        <div class="personal">
          <%= image_tag booking.skill.user.picture, class:"card-skill-user avatar-bordered"%>
          <p><%= booking.skill.user.first_name %></p>
          <h2 class="card-skill-pricing"><i class="fas fa-euro-sign"></i><%= booking.total_price %></h2>
        </div>
      </div>
    </div>
  <% end %>
</div>