<h1>Make a new booking!</h1>
<div class="container">
  <% @booking.each do |b| %>
    <h3>Make a booking with <%= b.user.first_name %></h3>
    <p><%= b.skill.title %></p>
    <%#= image_tag  %>
    <p>Available Times:</p>
    <%= b.start_time.strftime("%b %e, %l:%M %p") %> -- <%= b.end_time.strftime("%b %e, %l:%M %p") %>
  <% end %>
  <div class="booking-form">
    <% simple_form_for(@booking) do |f| %>
      <%= f.input :address %>
      <%= f.input :start_time %>
      <%= f.button :submit, class:"btn btn-primary" %>
    <% end %>
  </div>
</div>