  <%= link_to skills_path do %>
  <i class="fas fa-chevron-circle-left ml-3"> Back</i>
<% end %>
<div class="container text-center">
  <%= image_tag @user.picture, class:"card-skill-user avatar-bordered w-50 h-50 my-3" %>
  <h1>Hi! I'm <%= @user.first_name %></h1>
  <%#= link_to "Edit Profile", edit_user_path %>
  <p><em>Location: <%= @user.location %></em></p>
  <div class="btn btn-flat my-3 w-75">My Skills</div>
  <% @user.skills.each do |skill| %>
    <h6><%= skill.title %></h6>
    <%= link_to "Book now!", new_skill_booking_path(skill), class:"btn btn-primary mb-3"%>
  <% end %>
</div>
</div>