  <%= link_to skills_path do %>
  <i class="fas fa-chevron-circle-left ml-3"> Back</i>
<% end %>
<div class="container text-center">
  <%= image_tag current_user.picture, class:"card-skill-user avatar-bordered w-50 h-50 my-3" %>
  <h1>Hi! I'm <%= current_user.first_name %></h1>
  <p><em>Location: <%= current_user.location %></em></p>
  <div class="btn btn-flat my-3 w-75">My Skills</div>
  <% current_user.skills.each do |skill| %>
    <p><%= skill.title %></p>
    <p> <%#= link_to Book now!, new_skill_booking %></p>
  <% end %>
</div>
</div>