<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>
<!-- Skills Listings -->
<h1>Skills Listings</h1>
<!-- Categories Here into card with header -->
<div class="container">
  <% @skills.each do |skill| %>
    <div class="card-skill">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path skill.category.image %>')">
        <%= skill.category.title %>
      </div>
      <div class="card-skill-infos">
        <div class="col">
          <h4><%= skill.title %></h4>
          <p><%= skill.user.first_name %></p>
          <p><%= skill.user.location %></p>
        </div>
      </div>
    <% end %>
  </div>